<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>126</data>
      <data>48</data>
      <data>126</data>
      <data>48</data>
      <data>16</data>
      <data>24</data>
      <data>12</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>40</data>
      <data>40</data>
      <data>126</data>
      <data>40</data>
      <data>40</data>
      <data>40</data>
      <data>40</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>126</data>
      <data>96</data>
      <data>96</data>
      <data>48</data>
      <data>48</data>
      <data>24</data>
      <data>12</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>3</charcode>
    <chardata>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>4</charcode>
    <chardata>
      <data>56</data>
      <data>124</data>
      <data>108</data>
      <data>108</data>
      <data>108</data>
      <data>124</data>
      <data>56</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>5</charcode>
    <chardata>
      <data>60</data>
      <data>16</data>
      <data>124</data>
      <data>16</data>
      <data>62</data>
      <data>16</data>
      <data>24</data>
      <data>0</data>
    </chardata>
  </character>
</charset>
